Report.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="Report"
	xmlns:rep="Report"
	elementFormDefault="qualified"
	>

	<!-- ROOT ELEMENT -->
	<xsd:element name="StudentReport">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element ref="rep:Tasks"/>
				<xsd:element ref="rep:Courses"/>
				<xsd:element ref="rep:Programs"/>
				<xsd:element ref="rep:Students"/>
				<xsd:element ref="rep:Reports"/>
			</xsd:sequence>
		</xsd:complexType>

		<xsd:keyref name="keyRefTaskIdInCourses" refer="rep:keyTaskId">
			<xsd:selector xpath="rep:Courses/rep:Course/rep:Tasks/rep:Task"/>
			<xsd:field xpath="@type"/>
			<xsd:field xpath="@id"/>
		</xsd:keyref>

		<xsd:keyref name="keyRefTaskIdInReports" refer="rep:keyTaskId">
			<xsd:selector xpath="rep:Reports/rep:Report/rep:Tasks/rep:Task"/>
			<xsd:field xpath="@type"/>
			<xsd:field xpath="@id"/>
		</xsd:keyref>

		<xsd:keyref name="keyRefCourseId" refer="rep:keyCourseId">
			<xsd:selector xpath="rep:Programs/rep:Program/rep:Courses/rep:Course"/>
			<xsd:field xpath="@id"/>
		</xsd:keyref>

		<xsd:keyref name="keyRefProgramId" refer="rep:keyProgramId">
			<xsd:selector xpath="rep:Students/rep:Student/rep:Program"/>
			<xsd:field xpath="@id"/>
		</xsd:keyref>

		<xsd:keyref name="keyRefStudentId" refer="rep:keyStudentId">
			<xsd:selector xpath="rep:Reports/rep:Report"/>
			<xsd:field xpath="@studentId"/>
		</xsd:keyref>
	</xsd:element>

	<!-- ELEMENTS -->
	<!-- Tasks -->
	<xsd:element name="Tasks" type="rep:TasksListType">
		<xsd:key name="keyTaskId">
			<xsd:selector xpath="rep:Task"/>
			<xsd:field xpath="@type"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
	</xsd:element>
	<!-- Courses -->
	<xsd:element name="Courses" type="rep:CoursesListType">
		<xsd:key name="keyCourseId">
			<xsd:selector xpath="rep:Course"/>
			<xsd:field xpath="@id"/>
		</xsd:key>

		<xsd:unique name="uniqueTasksInCourse">
			<xsd:selector xpath="rep:Course/rep:Tasks/rep:Task"/>
			<xsd:field xpath="@id"/>
		</xsd:unique>
	</xsd:element>
	<!-- Programs -->
	<xsd:element name="Programs" type="rep:ProgramsListType">
		<xsd:key name="keyProgramId">
			<xsd:selector xpath="rep:Program"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
	</xsd:element>
	<!-- Students -->
	<xsd:element name="Students" type="rep:StudentsListType">
		<xsd:key name="keyStudentId">
			<xsd:selector xpath="rep:Student"/>
			<xsd:field xpath="@id"/>
		</xsd:key>

		<xsd:unique name="uniqueStudents">
			<xsd:selector xpath="rep:Student"/>
			<xsd:field xpath="rep:FullName"/>
			<xsd:field xpath="rep:City"/>
			<xsd:field xpath="rep:Email"/>
		</xsd:unique>

	</xsd:element>
	<!-- Reports -->
	<xsd:element name="Reports" type="rep:ReportItemsListType">
		<xsd:unique name="uniqueStudentInReport">
			<xsd:selector xpath="rep:Report"/>
			<xsd:field xpath="@studentId"/>
		</xsd:unique>
	</xsd:element>

	<!-- TYPES -->

	<xsd:simpleType name="StringType">
		<xsd:restriction base="xsd:string">
			<xsd:minLength value="1"/>
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- BaseIdentifiable Type -->
	<xsd:complexType name="BaseIdentifiableType">
		<xsd:attribute name="id" type="xsd:positiveInteger" use="required"/>
	</xsd:complexType>

	<!-- BaseTask Type -->
	<xsd:complexType name="BaseTaskType">
		<xsd:complexContent>
			<xsd:extension base="rep:BaseIdentifiableType">
				<xsd:attribute name="type" type="rep:TaskKindType" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Task Type -->
	<xsd:complexType name="TaskType">
		<xsd:complexContent>
			<xsd:extension base="rep:BaseTaskType">
				<xsd:sequence>
					<xsd:element name="Name" type="rep:StringType" />
					<xsd:element name="Duration" type="xsd:int" />
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- TasksList Type -->
	<xsd:complexType name="TasksListType">
		<xsd:sequence>
			<xsd:element name="Task" type="rep:TaskType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- PropertyGroup Type -->
	<xsd:group name="PropertyGroup">
		<xsd:sequence>
			<xsd:element name="Name" type="rep:StringType"/>
			<xsd:element name="Author" type="rep:StringType"/>
			<xsd:element name="CreationDate" type="xsd:date"/>
		</xsd:sequence>
	</xsd:group>

	<!-- BaseTasksList Type -->
	<xsd:complexType name="BaseTasksListType">
		<xsd:sequence>
			<xsd:element name="Task" type="rep:BaseTaskType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Course Type -->
	<xsd:complexType name="CourseType">
		<xsd:complexContent>
			<xsd:extension base="rep:BaseIdentifiableType">
				<xsd:sequence>
					<xsd:group ref="rep:PropertyGroup" />
					<xsd:element name="Tasks" type="rep:BaseTasksListType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- CoursesList Type -->
	<xsd:complexType name="CoursesListType">
		<xsd:sequence>
			<xsd:element name="Course" type="rep:CourseType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Program Type -->
	<xsd:complexType name="ProgramType">
		<xsd:complexContent>
			<xsd:extension base="rep:BaseIdentifiableType">
				<xsd:sequence>
					<xsd:group ref="rep:PropertyGroup"/>
					<xsd:element name="Courses">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:element name="Course" type="rep:BaseIdentifiableType" maxOccurs="unbounded"/>
							</xsd:sequence>
						</xsd:complexType>
						<!-- Unique courses in Program -->
						<xsd:unique name="uniqueCoursesInProgram">
							<xsd:selector xpath="rep:Course"/>
							<xsd:field xpath="@id"/>
						</xsd:unique>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- ProgramsList Type -->
	<xsd:complexType name="ProgramsListType">
		<xsd:sequence>
			<xsd:element name="Program" type="rep:ProgramType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Email Type -->
	<xsd:simpleType name="EmailType">
		<xsd:restriction base="rep:StringType">
			<xsd:pattern value="[a-zA-Z0-9_\.]+@([a-zA-Z0-9_]+\.)+[a-zA-Z0-9]{2,3}">
			</xsd:pattern>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Student Type -->
	<xsd:complexType name="StudentType">
		<xsd:complexContent>
			<xsd:extension base="rep:BaseIdentifiableType">
				<xsd:sequence>
					<xsd:element name="FullName" type="rep:StringType"/>
					<xsd:element name="City" type="rep:StringType"/>
					<xsd:element name="Email" type="rep:EmailType"/>
					<xsd:element name="StartDate" type="xsd:date"/>
					<xsd:element name="IsSigned" type="xsd:boolean"/>
					<xsd:element name="Program" type="rep:BaseIdentifiableType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- StudentsList Type -->
	<xsd:complexType name="StudentsListType">
		<xsd:sequence>
			<xsd:element name="Student" type="rep:StudentType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:simpleType name="TaskRateType">
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:minInclusive value="1"/>
			<xsd:maxInclusive value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:simpleType name="TheoreticalTaskStatusType">
		<xsd:restriction base="rep:StringType">		
			<xsd:enumeration value="Not started"/>
			<xsd:enumeration value="In progress"/>
			<xsd:enumeration value="Finished"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="PracticalTaskStatusType">
		<xsd:restriction base="rep:StringType">
			<xsd:enumeration value="Not started"/>
			<xsd:enumeration value="In progress"/>
			<xsd:enumeration value="Verifying"/>
			<xsd:enumeration value="Accepted"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="TaskStatusType">
		<xsd:union memberTypes="rep:TheoreticalTaskStatusType rep:PracticalTaskStatusType" />
	</xsd:simpleType>

	<xsd:complexType name="TaskItemForReportType">
		<xsd:complexContent>
			<xsd:extension base="rep:BaseTaskType">
				<xsd:sequence>
					<xsd:element name="Rate" type="rep:TaskRateType" minOccurs="0"/>
					<xsd:element name="Status" type="rep:TaskStatusType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<!--
	<xsd:complexType abstract="true" name="TaskItemForReportType">
		<xsd:complexContent>
			<xsd:extension base="rep:BaseIdentifiableType">
				<xsd:sequence>
					<xsd:element name="Rate" type="rep:TaskRateType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
	<xsd:complexType name="Theoretical">
		<xsd:complexContent>
			<xsd:extension base="rep:TaskItemForReportType">
				<xsd:sequence>
					<xsd:element name="Status" type="rep:TheoreticalTaskStatusType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<xsd:complexType name="Practical">
		<xsd:complexContent>
			<xsd:extension base="rep:TaskItemForReportType">
				<xsd:sequence>
					<xsd:element name="Status" type="rep:PracticalTaskStatusType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	-->

	<xsd:complexType name="ReportItemType">
		<xsd:sequence>
			<xsd:element name="Tasks">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="Task" type="rep:TaskItemForReportType" maxOccurs="unbounded"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="studentId" type="xsd:positiveInteger" use="required"/>
	</xsd:complexType>

	<xsd:complexType name="ReportItemsListType">
		<xsd:sequence>
			<xsd:element name="Report" type="rep:ReportItemType" maxOccurs="unbounded">
				<xsd:unique name="uniqueTasksInReport">
					<xsd:selector xpath="rep:Tasks/rep:Task"/>
					<xsd:field xpath="@id"/>
				</xsd:unique>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:simpleType name="TaskKindType">
		<xsd:restriction base="rep:StringType">
			<xsd:enumeration value="Theoretical"/>
			<xsd:enumeration value="Practical"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>